body {
    background-color: white;
}

main {
 display: flex;
 justify-content: center;
 margin-top: 30vh;
}

.resultContainer {
    background-image: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.myResult {
    border-radius: 90px;
    background-image: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 90%;
    text-align: center;
}

.summaryContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 10px 10px 5px rgb(133, 134, 134);
    width: 15%;
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listContainer li {
    width: 40%;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.5;
    margin-bottom: 5%;
    margin-top: 5%;
}

.reactionListItem{
    background-image: linear-gradient(hsl(0, 49%, 49%), hsl(0, 0%, 100%));
    display: flex;
    justify-content: space-around;
}

.memoryListItem{
    background-color: hsl(39, 100%, 56%);
    display: flex;
    justify-content: space-around;
}

.verbalListItem{
    background-color: hsl(166, 100%, 37%);
    display: flex;
    justify-content: space-around;
}

.visualListItem{
    background-color: hsl(234, 85%, 45%);
    display: flex;
    justify-content: space-around;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.buttonContainer button {
    color: white;
    background-color: black;
    border-radius: 40px;
    width: 80%;
    height: 35px;
    margin-top: 5%;
    margin-bottom: 10%;
}